<div class="container">
  <mat-card style="font-size: 17px" class="example-card">
    <h4 class="py-4" style="font-size: 22px;">SIGN-UP</h4>
    <form class="example-form">
      <div class="email">
      <mat-form-field class="email1" appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
   <div class="name">
      <mat-form-field class="name1" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="name1" appearance="fill">
        <mat-label>Last Name </mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
     
    </p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+91 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
   
    <div class="adr">
      <mat-form-field class="adr1" appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field>
      
     <mat-form-field class="adr1" appearance="fill">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field>
    </div>
    
  </form>
  </mat-card>
</div>

  
  