<div class="container">
  <div class="posts">
    <div class="tool">
      <p>
        <mat-toolbar class="toolbar">
          <span>Latest posts and updates</span>
          <span class="example-spacer"></span>
        </mat-toolbar>
      </p>
    </div>
    <ng-container *ngFor="let item of post">
      <div class="displayYourPost" >
        <mat-card fxLayout="row" fxLayoutAlign="space-around centre">
          <mat-card-header>
            <mat-card-title>{{item.heading}}</mat-card-title>
            <mat-card-subtitle class="des">{{item.description}}</mat-card-subtitle>
          </mat-card-header>
  
          <mat-card-actions>
           
            <button routerLink="/dashboard/singlePost"
              mat-button
              matTooltipHideDelay="200"
              #tooltip="matTooltip"
              matTooltip="view post"
            >
              <mat-icon (click)="preview(item._id)" class="u" aria-hidden="false" aria-label="{2:label} icon"
                >preview</mat-icon
              >
            </button>
            <button
              mat-button
              matTooltipHideDelay="200"
              #tooltip="matTooltip"
              matTooltip="{{item.email}}"
            >
              <mat-icon class="u" aria-hidden="false" aria-label="{2:label} icon"
                >account_circle</mat-icon
              >
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  
  </div>
  <div class="categories">
    <div class="tool">
      <p>
        <mat-toolbar class="toolbar">
          <span>categories</span>
          <span class="example-spacer"></span>
          <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>keyboard_backspace</mat-icon>
                  </button> -->
        </mat-toolbar>
      </p>
    </div>
    <ng-container *ngFor="let item of category">
      <mat-chip-list>
        <mat-chip (click)="onclick(item.categoryTitle)" routerLink="/dashboard/postInCategory">{{item.categoryTitle}}</mat-chip>
        
      </mat-chip-list>
    </ng-container>
   
  </div>
</div>
