<div class="container">
  <div class="tool">
    <p>
      <mat-toolbar class="toolbar">
        <span>posts in category</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
    </p>
  </div>
  <div class="a">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button class="add" mat-icon-button>
            <mat-icon aria-label="label">add</mat-icon>
          </button>
        </mat-panel-title>
        <mat-panel-description> add new post </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>

      <mat-divider></mat-divider>
      <form (ngSubmit)="createpost()" class="example-form">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput name="title" [(ngModel)]="post.heading" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            rows="7"
            matInput
            name="description"
            [(ngModel)]="post.description"
          ></textarea>
        </mat-form-field>

        <button type="submit" mat-flat-button class="create">create</button>
      </form>
    </mat-expansion-panel>
  </div>

  <ng-container *ngFor="let item of posts">
    <mat-card fxLayout="row" fxLayoutAlign="space-around centre" class="card">
      <mat-card-header>
        <mat-card-title>{{ item.heading }}</mat-card-title>
        <!-- <mat-card-subtitle>sub-header</mat-card-subtitle> -->
        <mat-card-subtitle class="des">{{
          item.description
        }}</mat-card-subtitle>
      </mat-card-header>
      <!-- <mat-card-content> {{ item.description }} </mat-card-content> -->
      <mat-card-actions>
        <!-- <button (click)="savePostid(item._id)" routerLink="/dashboard/editPost" mat-button matTooltipHideDelay="200" #tooltip="matTooltip"
        matTooltip="edit Post">
          <mat-icon class="u" aria-hidden="false" aria-label="{2:label} icon"
            >edit</mat-icon
          >
        </button> -->
        <button
          (click)="delete(item._id)"
          mat-button
          matTooltipHideDelay="200"
          #tooltip="matTooltip"
          matTooltip="delete Post"
        >
          <mat-icon class="u" aria-hidden="false" aria-label="{2:label} icon"
            >delete</mat-icon
          >
        </button>
      </mat-card-actions>
      <div class="update">
        <!-- <p>update post</p> -->
        <button
          matTooltipHideDelay="200"
          #tooltip="matTooltip"
          matTooltip="edit post"
          mat-icon-button
          (click)="openDialog(item._id, item.heading, item.description)"
        >
          <mat-icon class="u" aria-hidden="false" aria-label="{2:label} icon"
            >edit</mat-icon
          >
        </button>
      </div>
      <mat-card-actions>
        <button
          routerLink="/admin/dashboard/singlePost"
          mat-button
          matTooltipHideDelay="200"
          #tooltip="matTooltip"
          matTooltip="view post"
        >
          <mat-icon
            (click)="preview(item._id)"
            class="u"
            aria-hidden="false"
            aria-label="{2:label} icon"
            >preview</mat-icon
          >
        </button>
        <button
          mat-button
          matTooltipHideDelay="200"
          #tooltip="matTooltip"
          matTooltip="{{ item.email }}"
        >
          <mat-icon class="u" aria-hidden="false" aria-label="{2:label} icon"
            >account_circle</mat-icon
          >
        </button>
      </mat-card-actions>

      <!-- <mat-card-actions>
        <button mat-raised-button>view post</button>
      </mat-card-actions> -->
    </mat-card>
  </ng-container>
</div>
