<app-header></app-header>
<div>
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span><img class="logo"src="../assets/blog.png" alt="image"></span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink=""*ngIf=" !user.loggedIn() && check() ">login</a>
      <a mat-button routerLink="signup"*ngIf=" !user.loggedIn()&&  check()">signup</a>
      
      <a mat-button (click)="clear()" routerLink=""*ngIf=" logout() ">logout</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <a mat-button routerLink=""*ngIf=" !user.loggedIn() && check() ">Login</a>
        <a mat-button routerLink="signup"*ngIf=" !user.loggedIn() && check() ">Signup</a>
        <a mat-button (click)="clear()"routerLink=""*ngIf="  logout() ">logout</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="main" fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="footer">
    <div></div>
  </mat-toolbar>
</div>

<!-- <app-footer></app-footer> -->
