<h2 mat-dialog-title>Update category details</h2>
<mat-dialog-content class="mat-typography">
 
    <div class="container">
        <div class="createCategory">
          <form  class="example-form">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title> edit Category </mat-panel-title>
                </mat-expansion-panel-header>
      
                <mat-form-field appearance="fill">
                  <mat-label>Title</mat-label>
                  <input matInput name="title" [(ngModel)]="data.title"/>
                </mat-form-field>
      <mat-divider></mat-divider>
                <mat-form-field appearance="fill">
                  <mat-label>Description</mat-label>
                  <input matInput name="Description"[(ngModel)]="data.description" />
                </mat-form-field>
      
                <!-- <button
                  type="submit"
                  mat-flat-button
                  class="create"
                >
                  create
                </button> -->
                <!-- [disabled]="!form.valid" -->
              </mat-expansion-panel>
              
            </mat-accordion>
          </form>
        </div>
      </div>
      

 
 

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button  mat-dialog-close>Cancel</button>
  <button (click)="update(data)" mat-button [mat-dialog-close]="true" cdkFocusInitial>save</button>
</mat-dialog-actions>
