<div class="container">
    <div>
      <mat-selection-list class="category" #shoes [multiple]="false">
        <mat-list-option routerLink="manageadmin">Manage admins</mat-list-option> 
        <mat-list-option routerLink="manageuser">Manage users</mat-list-option>
       <!-- ? <mat-list-option routerLink="createCategory">add new category</mat-list-option> -->
        <!-- <mat-list-option>asdasdasd</mat-list-option> -->
      </mat-selection-list>
    </div>
    <div class="outlet">
      <router-outlet></router-outlet>
   </div>
  </div>
  
  
    
  
