/* mat-chip {
    max-width: 200px;
  } */
  .category{
    max-width:300px;
     }
     .container{
       background-color: aliceblue;
       margin-left: 3vw;
       margin-top: 10vh;
       display: flex;
       min-height: 100vh;
       min-width: 90vw;
     }
     .outlet{
       width: 100%;
       background-color: rgb(245, 198, 137);
     }