<div class="container">
  <div class="toolbar">
    <mat-toolbar>
      <span>your posts </span>
    </mat-toolbar>
  </div>
  <ng-container *ngFor="let item of posts">
    <div class="displayYourPost" >
      <mat-card fxLayout="row" fxLayoutAlign="space-around centre" >
        <mat-card-header>
          <mat-card-title>{{item.heading}}</mat-card-title>
          <mat-card-subtitle class="des">{{item.description}}</mat-card-subtitle>
        </mat-card-header>
  
        <!-- <mat-card-content> content </mat-card-content> -->
  
        <mat-card-actions>
          <button (click)="savePostid(item._id)" routerLink="/dashboard/editPost" mat-button matTooltipHideDelay="200" #tooltip="matTooltip"
          matTooltip="edit Post">
            <mat-icon class="u" aria-hidden="false" aria-label="{2:label} icon"
              >edit</mat-icon
            >
          </button>
          <button (click)="delete(item._id)" mat-button  matTooltipHideDelay="200" #tooltip="matTooltip"
          matTooltip="delete Post">
            <mat-icon class="u" aria-hidden="false" aria-label="{2:label} icon"
              >delete</mat-icon
            >
          </button>
          <button routerLink="/dashboard/singlePost"
              mat-button
              matTooltipHideDelay="200"
              #tooltip="matTooltip"
              matTooltip="view post"
            >
              <mat-icon (click)="preview(item._id)" class="u" aria-hidden="false" aria-label="{2:label} icon"
                >preview</mat-icon
              >
            </button>
          <!-- <button mat-button  matTooltipHideDelay="200" #tooltip="matTooltip"
          matTooltip="you">
              <mat-icon aria-hidden="false" aria-label="{2:label} icon"
                >account_circle</mat-icon
              >
            </button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  
</div>
