<div class="container">
    <div>
      <mat-selection-list class="category" #shoes [multiple]="false">
        <mat-list-option routerLink="user/dashboard">latest posts</mat-list-option> 
        <mat-list-option routerLink="viewCategory">view categorys</mat-list-option>
        <mat-list-option routerLink="createCategory">create post</mat-list-option>
        <!-- <mat-list-option>asdasdasd</mat-list-option> -->
      </mat-selection-list>
    </div>
    <div class="outlet">
      <router-outlet></router-outlet>
   </div>
  </div>
  
  
    
  