.sidenav{
   min-width:20%;
    background-color:rgb(149, 149, 243);
}@media screen and (max-width: 575px) {
  .sidenav {
    background-color:rgb(83, 83, 93);
    width:100%;
    margin-bottom: 2%;
  }
  .category{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
  }
  .container{
    display: flex;
    flex-direction: column;
  }
}

.outlet{
    width: 100%;
    /* background-color: rgb(245, 198, 137); */
  }
  .category{
    max-width:300px;
     }
     .container{
       background-color: aliceblue;
       margin-left: 3vw;
       margin-top: 10vh;
       display: flex;
       min-height: 100vh;
       min-width: 90vw;
     }