<div class="container">
    <div class=" sidenav">
      <mat-selection-list class="category" #shoes [multiple]="false">
        <mat-list-option routerLink="">Latest Posts</mat-list-option> 
        <mat-list-option routerLink="">categories</mat-list-option>
        <mat-list-option routerLink="">view all posts</mat-list-option>
        <!-- give edit and delete options -->
        <mat-list-option routerLink="">your posts</mat-list-option>
        <mat-list-option routerLink="">Create new posts</mat-list-option>
        <mat-list-option routerLink="">settings</mat-list-option>

        
        <!-- <mat-list-option>asdasdasd</mat-list-option> -->
      </mat-selection-list>
    </div>
    <div class="outlet">
      <router-outlet></router-outlet>
   </div>
  </div>
  
  
    
  