<div class="container">
  <div class="createCategory">
    <form (ngSubmit)="createCategory()" class="example-form">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Create New Category </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput name="title" [(ngModel)]="category.categoryTitle" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput name="Description"  />
          </mat-form-field>

          <button
            type="submit"
            mat-flat-button
            class="create"
          >
            create
          </button>
          <!-- [disabled]="!form.valid" -->
        </mat-expansion-panel>
        <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Destination </mat-panel-title>
            <mat-panel-description>
              Type the country name
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput />
          </mat-form-field>
        </mat-expansion-panel> -->
      </mat-accordion>
    </form>
  </div>
</div>
